body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    align-items: center;

}

img {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
}

h1 {
    color: rgb(211, 9, 43);
    text-align: justify;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Schoolbell', cursive;
}

.game-container {
    width: 800px;
    max-width: 80%;
    background-attachment: fixed;
    background-color: crimson;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.choice {
    background-color: rgb(187, 15, 15);
    border: rgb(139, 8, 8);
    border-radius: 9px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.choices:hover {
    border-color: white;
}